html{
  color: #451800;
}

body{
  overflow: hidden;
  user-select: none;
}

.mainTopPanel{
  width: 100vw;
  height: 56vh;

  background-image: url('./res/homeBackground.png');
  background-size: 100vw;
}

.mainBottomPanel{
  width: 100vw;
  height: 47vh;

  position: absolute;
  bottom: -2.5vh;

  background-color: #FFF6E8;
  border-radius: 2.5vh;
}