html{
  color: #451800;
}

body{
  overflow: hidden;
  user-select: none;
}

.mainTopPanel{
  width: 100vw;
  height: 56vh;
}

.mainBottomPanel{
  width: 100vw;
  height: 47vh;

  position: absolute;
  bottom: -2.5vh;

  background-color: #DFE0DF;
  border-radius: 2.5vh;
}