.homeOn{
  height: 70vh;
  transition: height .5s ease;
}

.boardsOn{
  height: 47vh;
  transition: height .5s ease;
}

.settingsOn{
  height: 57vh;
  transition: height .5s ease;
}

.connectOn{
  height: 57vh;
  transition: height .5s ease;
}

.boardAssemblerOn{
  height: 75vh;
  transition: height .5s ease;
}

html{
  color: #cfc1c1;
}

body{
  overflow: hidden;
  user-select: none;
  background-image: url('./res/homeBackground.png');
  background-size: 100%;
}

.mainTopPanel{
  width: 100vw;
  height: 56vh;
}


#mainBottomPanel{
  width: 100vw;

  position: absolute;
  bottom: -2.5vh;

  background-color: #2a2e32;
  border-radius: 2.5vh;

  display: block;
  text-align: center; 
  font-size: 1.5vh;
}

#slider::-webkit-scrollbar {
  display: none;
}

#slider{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea:focus, input:focus, input{
  outline: none;
  color: #cfc1c1;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"] {
  padding: 0;
  width: 60vw;
  height: 10vw;
  border: none;
  border-radius: 3vw;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 3vw;
}